# Deforestation Dataset
---
An exploratory analysis. 

LINK: https://www.kaggle.com/datasets/konradb/deforestation-dataset?resource=download

Importing libraries:

In [1]:
import pandas as pd

Importing Data:

In [2]:
# Defining the path to file:
path = 'goal15.forest_shares.csv'

# Assigning dataframe to a variable:
df = pd.read_csv(path)

# Preview:
df.head(5)

  iso3c  forests_2000  forests_2020  trend
0   AFG           1.9           1.9    0.0
1   ALB          28.1          28.8    2.5
2   DZA           0.7           0.8   14.3
3   ASM          88.7          85.7   -3.4
4   AND          34.0          34.0    0.0

### Firsts Steps:

- Removing unecessary columns;

- Renaming columns;

- Checking duplicates;

- Checking types;

- Main informations: mean, median, countrows, min and max.

 As the column trend is the percentual of growth or decrease between 2020 and 2000 we will remove it. Because is not a new information, but a relation between the other columns.

In [3]:
# Removing the column 'trend'
df = df[['iso3c', 'forests_2000', 'forests_2020']]

# Preview:
df.head(5)

  iso3c  forests_2000  forests_2020
0   AFG           1.9           1.9
1   ALB          28.1          28.8
2   DZA           0.7           0.8
3   ASM          88.7          85.7
4   AND          34.0          34.0

In [4]:
# To make easier the understanding, we will rename the columns:

# Renaming
new_names = {'iso3c': 'country', 'forests_2000': 'f_2000', 'forests_2020': 'f_2020'}
df = df.rename(columns=new_names)

# Preview:
df.head(5)

  country  f_2000  f_2020
0     AFG     1.9     1.9
1     ALB    28.1    28.8
2     DZA     0.7     0.8
3     ASM    88.7    85.7
4     AND    34.0    34.0

To check the duplicates, we will check first in the dataset to search duplicate lines. And after, just on the country column, to search if there exists duplicate countries.

In [8]:
# Checking the Duplicates on Dataset:
total_duplicates = df.duplicated()
print("Total duplicates on dataset: ",total_duplicates)

Total duplicates on dataset:  0      False
1      False
2      False
3      False
4      False
       ...
232    False
233    False
234    False
235    False
236    False
Length: 237, dtype: bool

In [9]:
# Checking the Duplicates on country column:
country_duplicates = df.duplicated(subset=['country'])
print("Duplicated countries: ",country_duplicates)

Duplicated countries:  0      False
1      False
2      False
3      False
4      False
       ...
232    False
233    False
234    False
235    False
236    False
Length: 237, dtype: bool

As the dataset do not show any duplicated value, we don't need any data treatment.

In [11]:
# Checking the data type:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  237 non-null    object
 1   f_2000   237 non-null    float64
 2   f_2020   237 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.7+ KB

In [12]:
# Main information:
df.describe()

           f_2000      f_2020
count  237.000000  237.000000
mean    32.255274   31.585654
std     25.366225   24.744673
min      0.000000    0.000000
25%      9.900000   10.400000
50%     30.300000   30.300000
75%     50.900000   49.800000
max     98.300000   97.400000

### Joining Dataset for plus information

LINK: https://datahub.io/core/country-codes#data